body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 65px;
    font-weight: 700;
    color: white;
}

h2 {
    font-size: 45px;
    font-weight: 700;
    color: black;
}

p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}

/* banner section start */
.banner {
    width: 100%;
    height: 650px;
    background-image: url(images/donation8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    box-shadow: inset 0 1px 1px 1000px rgba(0, 0, 0, 0.607);
    margin-bottom: 150px;
}

.banner-txt {
    padding: 6% 240px;
}

.banner-txt p {
    color: #c8c5c5;
}

.banner img {

    width: 2000px;
}

.link-btn {
    text-decoration: none;
    background-color: #FF5959;
    font-size: 20px;
    font-weight: 600;
    padding: 14px 25px;
    border-radius: 5px;
    color: white;
}

/* banner section end */

/* donation amount setion start */
.common-txt {
    text-align: center;
    margin: 0 25%;
    color: #707070;
}

.amount-seris {
    margin: 0 15%;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    font-weight: 700;
    color: #707070;
}

.amount-seris div {
    padding: 32px 17px;
}

.amount-seris :nth-child(2) {
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    margin-bottom: 70px;
}

.donate-keep {
    text-align: center;
}

.amount-form {
    font-size: 18px;
    font-weight: 400;
    padding: 10px 320px;
    outline: 0;
    border-width: 0 0 1px;
    border-color: #B3B3B3;
    margin-bottom: 20px;
}

/* donation amount setion end */

/* donation-plan amount setion start */
.donation-plan {
    margin-bottom: 150px;
}

.donation-amount {
    margin-bottom: 150px;
}

.plan-types {
    margin: 0 10%;
    display: flex;
    justify-content: space-evenly;
}

.plan-types div {
    padding: 40px 20px;
    margin-left: 20px;
    border-radius: 5px;
}

.plan-types div:nth-child(1) {
    background-color: #EDF5F6;
}

.plan-types div:nth-child(2) {
    background-color: #FFEEEE;
}

.plan-types div:nth-child(3) {
    background-color: #FFF4D6;
}

/* donation-plan amount setion end */

/* activities section start  */
.activities {
    /* display: flex; */
    margin-bottom: 150px;
}

.act-gallary {
    display: flex;
    justify-content: space-evenly;
}

.activities img {
    max-width: 400px;
    margin-left: 10px;
    border-radius: 10px;
}

/* activities section end  */

/* subscribtion  setion start*/
.subscribtion {
    margin-bottom: 150px;
}

.subs-area {
    margin: 0 auto;
    background-color: #FFF4D6;
    width: 800px;
    height: 200px;
    border-radius: 5px;
}

* {
    box-sizing: border-box;
    outline: 0;
    border-width: 0 0 0px;
}

.subs-form {
    margin: 0 auto;
    text-align: center;
    max-width: 500px
}

.subs-form input {
    padding: 15px;
    font-size: 17px;
    float: left;
    width: 65%;
    background: #D9D9D9;
    border-radius: 5px 0 0 5px;
    margin-top: 15%;
}

.subs-form button {
    float: left;
    width: 35%;
    padding: 15px;
    background: #FF5959;
    color: white;
    font-size: 17px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    margin-top: 15%;
}

/* subscribtion  setion end */

/* footer start */
footer {
    width: 100%;
    height: 170px;
    background-color: black;
    color: white;
    text-align: center;
}

footer h3 {
    padding-top: 15px;
    font-family: 'Lobster', cursive;
    color: #FF5959;
    font-size: 36px;
    font-weight: 400px;
}

footer p {
    color: #c6c7cb;
    font-size: 14px;
    font-weight: 400;
}

/* footer end */