body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 65px;
    font-weight: 700;
    color: white;
}

h2 {
    font-size: 45px;
    font-weight: 700;
    color: black;
}

p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;

}

.banner {
    width: 100%;
    height: 650px;
    background-image: url(images/donation8.jpg);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    /* position: fixed; */
    text-align: center;
    box-shadow: inset 0 1px 1px 1000px rgba(0, 0, 0, 0.607);
}

.banner-txt {
    padding: 6% 240px;
}

.banner-txt p {
    color: #c8c5c5;
}

.banner img {

    width: 2000px;
}

.link-btn {
    text-decoration: none;
    background-color: #FF5959;
    font-size: 20px;
    font-weight: 600;
    padding: 14px 25px;
    border-radius: 5px;
    color: white;
}

/* donation amount setion start */
.common-txt {
    text-align: center;
    margin: 0 25%;
    color: #707070;
}

.common-txt p {
    /* color: #707070; */
}

.amount-seris {
    margin: 0 15%;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    font-weight: 700;
    color: #707070;
}

.amount-seris div {
    padding: 22px;
}

.amount-seris :nth-child(2) {
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;

}

/* donation amount setion end */